@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section {
        width: 80vw;
        height: 280px;
    }

    .img {
        float: left;
        width: 30%;
        height: 100%;
        border-radius: 15px 0px 0px 15px;
    }

    .login-int {
        width: 70%;
        float: right;
        transition: .6s;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section {
        width: 950px;
        height: 350px;
    }

    .img {
        float: right;
        width: 50%;
        height: 100%;
        border-radius: 0px 15px 15px 0px;
    }

    .login-int {
        float: left;
        width: 50%;
        margin-top: 15px;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        margin-bottom: 25px;
        font-size: 1rem;
    }
}
